In [ ]:
"""
Descripción de la actividad.

Dadas dos listas iniciales LISTA1 y LISTA2 debes realizar las siguientes tareas:

a. Añade a la LISTA1 el int 100 y luego el string “Hola Mundo”
b. Luego añade a la LISTA2 el string “Hola y Adios” y luego el int 300
c. Genera una LISTA3 con todos los elementos de la LISTA1 sin considerar el último elemento
d. Genera una LISTA4 con todos los elementos de la LISTA2 menos el primero y el último elemento
e. Finalmente, genera una LISTA5 con los elementos de la LISTA4 y de la LISTA3

Listas iniciales:
lista_1 = [1, 2, 3]
lista_2 = ["Juan", "Ana", "Pepe"]
"""

In [ ]:
lista_1 = [1, 2, 3]
lista_2 = ["Juan", "Ana", "Pepe"]

In [ ]:
# a. Añade a la LISTA1 el int 100 y luego el string “Hola Mundo”
lista_1.append(100)
lista_1.append("Hola Mundo")

In [ ]:
lista_1

[1, 2, 3, 100, 'Hola Mundo']

In [ ]:
# b. Luego añade a la LISTA2 el string “Hola y Adios” y luego el int 300
lista_2.append("Hola y Adios")
lista_2.append(300)

In [ ]:
lista_2

['Juan', 'Ana', 'Pepe', 'Hola y Adios', 300]

In [ ]:
# c. Genera una LISTA3 con todos los elementos de la LISTA1 sin considerar el último elemento
lista_3 = lista_1[0:-1]
print(lista_3)

[1, 2, 3, 100]

In [ ]:
# d. Genera una LISTA4 con todos los elementos de la LISTA2 menos el primero y el último elemento
lista_4 = lista_2[1:-1]
print(lista_4)

['Ana', 'Pepe', 'Hola y Adios']

In [ ]:
# e. Finalmente, genera una LISTA5 con los elementos de la LISTA4 y de la LISTA3
lista_5 = lista_4 + lista_3
print(lista_5)

['Ana', 'Pepe', 'Hola y Adios', 1, 2, 3, 100]

In [ ]:
[1,2]+[1,2]

[1, 2, 1, 2]

In [ ]:
f"Hola"

'Hola'

In [ ]:
lista_1 = [1, 2, 3]
lista_2 = ["Juan", "Ana", "Pepe"]

In [ ]:
# a. Añade a la LISTA1 el int 100 y luego el string “Hola Mundo”

In [ ]:
lista_1.append(100)

In [ ]:
lista_1.append("Hola Mundo")

In [ ]:
lista_1

In [ ]:
# b. Luego añade a la LISTA2 el string “Hola y Adios” y luego el int 300
lista_2.append("Hola y Adios")
lista_2.append(300)

In [ ]:
lista_2

In [ ]:
# c. Genera una LISTA3 con todos los elementos de la LISTA1 sin considerar el último elemento
lista_3 = lista_1[0:-1]

In [ ]:
lista_3

In [ ]:
# d. Genera una LISTA4 con todos los elementos de la LISTA2 menos el primero y el último elemento
lista_4 = lista_2[1:-1]

In [ ]:
lista_4

In [ ]:
# e. Finalmente, genera una LISTA5 con los elementos de la LISTA4 y de la LISTA3
lista_5 = lista_4 + lista_3
lista_5

In [ ]:
"""
Descripción de la actividad.
A partir de una variable llamada tupla, imprimir por pantalla de forma ordenada, lo siguiente:
1. El último ítem de tupla
2. El número de ítems de tupla
3. La posición donde se encuentra el ítem 87 de tupla
4. Una lista con los últimos tres ítems de tupla
5. Un ítem que haya en la posición 8 de tupla
6. El número de veces que el ítem 7 aparece en tupla

Copia esta tupla para iniciar el ejercicio:
tupla = (8, 15, 4, 39, 5, 89, 87,  19, 7, -755, 88, 123, 2, 11, 15, 9, 355)
"""

In [ ]:
tupla = (8, 15, 4, 39, 5, 89, 87,  19, 7, -755, 88, 123, 2, 11, 15, 9, 355)

In [ ]:
# 1. El último ítem de tupla
print(tupla[-1])

355

In [ ]:
# 2. El número de ítems de tupla
print(len(tupla))

17

In [ ]:
# 3. La posición donde se encuentra el ítem 87 de tupla
# ¿En que indice esta el elemento 87?
print(tupla.index(87))

6

In [ ]:
# 4. Una lista con los últimos tres ítems de tupla
print(list(tupla[-3:]))

[15, 9, 355]

In [ ]:
# 5. El ítem que esta en la index 8 de tupla
# Que elemento esta en la posicion 8
print(tupla[8])

7

In [ ]:
# 6. El número de veces que el ítem 7 aparece en tupla
print(tupla.count(7))

1