In [ ]:
"""
Actividad 1
En una lista encontraremos diferentes operaciones relacionales, calcular
mentalmente el resultado de cada expresión y almacenarlo en una nueva lista que
contendrá únicamente valores lógicos True y False.

expresiones = [
    False == True,
    10 >= 2*4,
    33/3 == 11,
    True > False,
    True*5 == 2.5*2
]
"""

In [ ]:
expresiones = [
    False == True,  # False
    10 >= 2*4,  # True
    33/3 == 11,  # True
    True > False,  # True
    True*5 == 2.5*2  # True
]

In [ ]:
# es lo mismo
expresiones = [False == True, 10 >= 2*4, 33/3 == 11, True > False, True*5 == 2.5*2]

In [ ]:
True*5

5

In [ ]:
expresiones

[False, True, True, True, True]

In [ ]:
numeros = [10, 5, 3]

In [ ]:
numeros = [
    10,
    5,
    3
]

In [ ]:
"""
Actividad 2
En una lista encontraremos diferentes operaciones lógicas. Calcular mentalmente el resultado
de cada expresión y almacenarlo en una nueva lista la cual contendrá únicamente valores lógicos True y False.

expresiones = [
    not False,
    not 3 == 5,
    33/3 == 11 and 5 > 2,
    True or False,
    True*5 == 2.5*2 or 123 >= 23,
    12 > 7 and True < False
]
"""

In [ ]:
expresiones = [
    not False,  # Verdadero
    not 3 == 5,  # Verdadero
    33/3 == 11 and 5 > 2,  # T and T => T
    True or False,  # T
    True*5 == 2.5*2 or 123 >= 23,  # T or T => T
    12 > 7 and True < False  # T and F => F
]

In [ ]:
expresiones

[True, True, True, True, True, False]

In [ ]:
expresiones = [
    not False,  # True
    not 3 == 5,  # True
    33/3 == 11 and 5 > 2,  # True and True => True
    True or False,  # True
    True*5 == 2.5*2 or 123 >= 23,  # True or True
    12 > 7 and True < False  # True and False => False
]

In [ ]:
expresiones

In [ ]:
"""
Actividad 3
A partir de dos variables llamadas NOMBRE y EDAD, debes crear una variable que almacene
si se cumplen todas las siguientes condiciones, encadenando operadores lógicos en una sola línea:

1. NOMBRE sea diferente de cuatro asteriscos “****”
2. EDAD sea mayor que 5 y a su vez menor que 20
3. Que la longitud de NOMBRE sea mayor o igual a 4  pero a la vez menor que 8
4. EDAD multiplicada por 3 sea mayor que 35


Desde un input conseguir las variables:
nombre = INPUT!!!
edad = INPUT!!!!
"""

In [ ]:
nombre = input("Nombre:  ")
edad = int(input("Edad: "))

Nombre:  Rodrigo
Edad: 23

In [ ]:
# 1. NOMBRE sea diferente de cuatro asteriscos “****”
nombre != "****"

# 2. EDAD sea mayor que 5 y a su vez menor que 20
# 5 < edad < 20  # otra opcion es
edad > 5 and edad < 20

# 3. Que la longitud de NOMBRE sea mayor o igual a 4 pero a la vez menor que 8
len(nombre) >= 4 and len(nombre) < 8

# 4. EDAD multiplicada por 3 sea mayor que 35
edad*3 > 35

In [ ]:
# debes crear una variable que almacene si se cumplen todas las siguientes
# condiciones, encadenando operadores lógicos en una sola línea:

In [ ]:
resultado = (nombre != "****") and (edad > 5 and edad < 20) and (len(nombre) >= 4 and len(nombre) < 8) and (edad*3 > 35)

In [ ]:
resultado

False

In [ ]:
# puedes escribirlo más bonito así :)
resultado = (
    (nombre != "****")
    and (edad > 5 and edad < 20)
    and (len(nombre) >= 4 and len(nombre) < 8)
    and (edad*3 > 35)
)

In [ ]:
(nombre != "****") and (edad > 5 and edad < 20) and (len(nombre) >= 4 and len(nombre) < 8) and (edad*3 > 35)

In [ ]:
# NOMBRE sea diferente de cuatro asteriscos “****”
nombre != "****"

# 2. EDAD sea mayor que 5 y a su vez menor que 20
edad > 5 and edad < 20
# 5 < edad < 20

# 3. Que la longitud de NOMBRE sea mayor o igual a 4  pero a la vez menor que 8
len(nombre) >= 4 and len(nombre) < 8

# 4. EDAD multiplicada por 3 sea mayor que 35
edad*3 > 35


(nombre != "****") and (edad > 5 and edad < 20) and (len(nombre) >= 4 and len(nombre) < 8) and (edad*3 > 35)



# EDAD sea mayor que 5 y a su vez menor que 20
edad > 5 and edad < 20

# Que la longitud de NOMBRE sea mayor o igual a 4, pero a la vez menor que 8
len(nombre) >= 4 and len(nombre) < 8

# EDAD multiplicada por 3 sea mayor que 35
edad * 3 > 35

In [ ]:
resultado = (nombre != "****") and (edad > 5 and edad < 20) and (len(nombre) >= 4 and len(nombre) < 8) and (edad * 3 > 35)

In [ ]:
resultado

In [ ]:
# Ejercicios extras
"""
by Gonzalo
Escriba un programa que solicite al usuario su edad y si tiene un carnet de conducir.
Si la edad del usuario es mayor o igual a 18 y tiene un carnet de conducir, el programa debe imprimir "Puede conducir".
De lo contrario, debe imprimir "No puede conducir".
"""